/***----------------------------------- • Colors & Global • -----------------------------------------***/
:root {
    --rosewater: #f5e0dc;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --text: #cdd6f4;
    --subtext0: #a6adc8;
    --surface0: #282936;
    --base: #1e1e2e;
    --crust: rgba(17, 17, 27, 0.851);
    --light-blue: #7AA2F8;
    --cyan: #00FFFF;
    --mantle: #181825;
    --aqua: #00ffff;
    --traqouies: #40e0d0;
    --whitesmoke: #f5f5f5;
    --white:#ffffff;
}
* {
    font-size: 13px;
    color: var(--text) !important;
    font-weight: 600;
    font-family: "JetBrainsMono NFP", "Segoe UI";
}
.widget .label {
    background: transparent;
    border-radius: 50px; 
    margin: 0.5px;
    padding: 0px;
}

/***----------------------------------- • Yasb bar • ------------------------------------------------***/
.yasb-bar {
    background-color: var(--crust);
    padding: -1;
    margin: 0;
    border-radius: 16px;
    border: 1px solid var(--aqua)
}
.widget {
    padding: 5px;
    margin: 0;
}
.icon {
    font-size: 16px;
    color: var(--blue);
}
/***----------------------------------- • Context Menu • ------------------------------------------------***/
.context-menu,
.context-menu .menu-checkbox {
    background-color: var(--crust);
    padding: 4px 0px;
    font-family: JetBrainsMono NFP;
    font-weight: 600;
    font-size: 12px;
    color: var(--text);
}
.context-menu {
    border-radius: 8px;
    border: 1px solid var(--cyan);
}
.context-menu::right-arrow {
    width: 8px;
    height: 8px;
    padding-right: 24px;
}
.context-menu::item,
.context-menu .menu-checkbox {
    color: var(--text);
    background-color: var(--crust);
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: 6px;
    min-width: 100px;
}
.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
    background-color: var(--crust);
    color: var(--text);
}
.context-menu::separator {
    height: 1px;
    margin: 4px 8px;
}
.context-menu::item:disabled {
    color: var(--text);
    background-color: rgba(17, 17, 27, 0.85);
}
.context-menu .menu-checkbox .checkbox {
    border: none;
    padding: 8px 16px;
    font-size: 12px;
    margin: 0;
    color: var(--text);
    font-family: JetBrainsMono NFP;
    font-weight: 600;
}
.context-menu .submenu::item:disabled {
    margin: 0;
    background: rgba(17, 17, 27, 0.85);
    padding-left: 16px;
}
.context-menu .menu-checkbox .checkbox:unchecked {
    color: var(--text);
    background: rgba(17, 17, 27, 0.85);
}
.context-menu .menu-checkbox .checkbox::indicator {
    width: 12px;
    background: rgba(17, 17, 27, 0.85);
    height: 12px;
    margin-left: 0px;
    margin-right: 8px;
}
.context-menu .menu-checkbox .checkbox::indicator:unchecked {
    background: #444444;
    border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox::indicator:checked {
    background: var(--cyan);
    border-radius: 2px;
}
/***----------------------------------- • Systray • ------------------------------------------------***/
.systray {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
.systray .widget-container{
    background-color: var(--crust);
	margin: 4px 0 4px 0;
	border-radius: 12px;
    border: 0px solid var(--surface1);
    padding: 0 8px;
}
.systray .button {
    border-radius: 8px;
    padding: 3px 2px;
    background-color: #0f131d;
}
.systray .button:hover,
.systray .unpinned-visibility-btn:hover {
    background: transparent;
}
.systray .unpinned-visibility-btn {
    height: 20px;
    width: 16px;
    background-color: transparent;
    border: none;
    font-size: 14px;
}
.systray .unpinned-visibility-btn:hover {
    border-radius: 4px;
}
/***----------------------------------- • Komorebi Workspaces • ---------------------------------------***/
.komorebi-workspaces .widget-container{ 
background-color: var(--crust);
	margin: 4px 0 4px 0;
	border-radius: 12px;
    border: 0px solid var(--surface1);
    padding: 0 8px;
}
.komorebi-workspaces .widget-container {
    border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
    margin-left: 4px;
}
.komorebi-workspaces {
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	padding: 0 4px 0 0;
}
.komorebi-workspaces .offline-status {
    color: var(--surface2);
    font-size: 12px;
    padding: 0 0 0 4px;
    font-weight:600;
}
.komorebi-workspaces .ws-btn {
    border: none;
    background-color:transparent;
	margin:0;
    font-size: 12px;
	color:  var(--overlay1);
    height: 28px;
    width: 18px;
}
.komorebi-workspaces .ws-btn:hover {
    color: var(--sapphire);
}
.komorebi-workspaces .ws-btn.populated {
    color: var(--red);
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 2px;
    transition: width 0.2s cubic-bezier;
    font-size: 10px;
}
.komorebi-workspaces .ws-btn.active {
    color: transparent;
    background-color: #29C3DE;
    width: 46px; /* Makes the button grow/pop out */
    height: 10px;
    margin: 0 4px;
    border-radius: 5px;
    transition: width 0.5s cubic-bezier; /* Smooth pop animation */
}
/***----------------------------------- • Komorebi control • -----------------------------------***/
.komorebi-control-widget .label {
    font-size: 14px;
    color: #cdd6f4;
    font-weight: 600;
}
.komorebi-control-menu {
    background-color: rgba(17, 17, 27, 0.2);
}
.komorebi-control-menu .button {
    color: rgba(162, 177, 199, 0.4);
    padding: 8px 16px;
    font-size: 32px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.04);
}
.komorebi-control-menu .button.active {
    color: rgb(228, 228, 228);
    background-color: rgba(255, 255, 255, 0.04);
}
.komorebi-control-menu .button:disabled,
.komorebi-control-menu .button.active:disabled {
    background-color: rgba(255, 255, 255, 0.01);
    color: rgba(255, 255, 255, 0.2);
}
.komorebi-control-menu .footer .text {
    font-size: 12px;
    color: #6c7086;
}
/***----------------------------------- • Active Layout & Window • -----------------------------------***/
.komorebi-layout-menu {
    background-color:rgba(17, 17, 27, 0.4)
}
.komorebi-layout-menu .menu-item {
    padding: 8px 16px;
    font-size: 12px;
    color: #cdd6f4; 
    font-weight: 600;
}
.komorebi-layout-menu .menu-item-icon {
    color: #cdd6f4;
    font-size: 16px;
}
.komorebi-layout-menu .menu-item-text {
    font-family: 'Segoe UI';
    padding-left:4px;
    font-size: 12px;
} 
.komorebi-layout-menu .menu-item:hover {
    background-color:rgba(128, 130, 158, 0.15);
    color: #fff;
} 
.komorebi-layout-menu .separator {
    max-height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
}

/***----------------------------------- • Clock • ---------------------------------------------***/
/* Clock Widget Styles */
.clock-widget {
    padding: 0 4px 0 0px;
}
.clock-widget .icon {
    color: #89dceb;
    font-size: 14px;
    padding-right: 4px;
}
.clock-widget .icon.alarm {
    color: #f38ba8;
    margin-left: 4px;
}
.clock-widget .label {
    color: #89dceb;
}
.clock-widget .label.alarm {
    color: #74b0ff;
    margin-left: 4px;
}

/* Calendar, Alarm, and Timer Popups */
.clock-popup.alarm,
.clock-popup.timer,
.clock-popup.calendar {
    min-width: 460px;
    background-color: rgba(17, 17, 27, 0.4);
}

.clock-popup.calendar .calendar-table,
.clock-popup.calendar .calendar-table::item {
    background-color: rgba(17, 17, 27, 0);
    color: rgba(162, 177, 196, 0.85);
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.clock-popup.calendar .calendar-table::item:selected {
    color: #282936;
    font-weight: bold;
    background-color: #74b0ff;
    border-radius: 12px;
}
.clock-popup.calendar .day-label {
    margin-top: 20px;
}
.clock-popup.calendar .day-label,
.clock-popup.calendar .month-label,
.clock-popup.calendar .year-label,
.clock-popup.calendar .date-label {
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.clock-popup.calendar .month-label {
    font-weight: normal;
}
.clock-popup.calendar .year-label {
    font-weight: normal;
}
.clock-popup.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-top: -20px;
}
.clock-popup.calendar .extended-container {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    padding-left: 16px;
}
.clock-popup.calendar .extended-container .button.alarm.small,
.clock-popup.calendar .extended-container .button.timer.small {
    min-width: 32px;
    min-height: 16px;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 2px;
}
.clock-popup.calendar .extended-container .upcoming-events-header {
    font-size: 12px;
    font-family: 'Segoe UI';
    font-weight: 600;
    margin: 4px 0 8px 0;
    color: #d2d6e2;
}
.clock-popup.calendar .extended-container .upcoming-events-item {
    font-size: 12px;
    font-family: 'Segoe UI';
    font-weight: 600;
    padding: 3px 0;
    color: #b2b6c0;
}
.clock-popup.calendar .extended-container .upcoming-events-item:hover {
    color: #ced1d8;
}

/* Alarm and Timer Dialog Containers */
.clock-popup.timer .clock-popup-container,
.clock-popup.alarm .clock-popup-container {
    padding: 16px;
}
.clock-popup.timer .clock-popup-footer,
.clock-popup.alarm .clock-popup-footer {
    padding: 16px;
    border-top: 1px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
}
.clock-popup .clock-label-timer {
    font-size: 13px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #8d9196;
}
.clock-popup .clock-input-time {
    font-size: 48px;
    background-color: transparent;
    border: none;
    font-family: monospace, "Tahoma", "Segoe UI";
    font-weight: 600;
    color: #ced3d8;
}
.clock-popup .clock-input-time.colon {
    padding-bottom: 8px;
}

/* Dialog Buttons */
.clock-popup .button {
    border-radius: 4px;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 13px;
    min-height: 28px;
    min-width: 64px;
    margin: 4px 0;
    background-color: rgba(255, 255, 255, 0.1);
}
.clock-popup .button.save,
.clock-popup .button.start,
.clock-popup .button.delete,
.clock-popup .button.cancel {
    min-width: 120px;
}

.clock-popup .button.save,
.clock-popup .button.start {
    background-color: rgba(0, 110, 255, 0.5);
    margin-right: 8px;
}

.clock-popup .button.save:hover,
.clock-popup .button.start:hover {
    background-color: rgba(0, 110, 255, 0.7);
}
.clock-popup .button.delete {
    background-color: rgba(255, 80, 80, 0.5);
}
.clock-popup .button.delete:hover {
    background-color: rgba(255, 80, 80, 0.7);
}
.clock-popup .button.is-alarm-enabled {
    background-color: rgba(0, 110, 255, 0.5);
}
.clock-popup .button.is-alarm-enabled:hover {
    background-color: rgba(0, 110, 255, 0.7);
}
.clock-popup .button.is-alarm-disabled {
    background-color: rgba(255, 255, 255, 0.2);
}
.clock-popup .button.day {
    background-color: rgba(255, 255, 255, 0.1);
    max-height: 20px;
    min-height: 20px;
}
.clock-popup .button.day:checked {
    background-color: rgba(0, 110, 255, 0.5);
}
.clock-popup .button.quick-option {
    background-color: rgba(255, 255, 255, 0.1);
}
.clock-popup .button.quick-option:checked {
    background-color: rgba(0, 110, 255, 0.5);
}
.clock-popup .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.clock-popup .button:disabled {
    background-color: rgba(100, 100, 100, 0.2);
    color: rgba(150, 150, 150, 0.7);
}
.clock-popup .alarm-input-title {
    font-size: 14px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #d2d6e2;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 8px;
    outline: none;
    min-width: 300px;
}

.clock-popup .alarm-input-title:focus {
    border: 1px solid #0078D4;
}

/* Active Alarm Popup Window */
.active-alarm-window {
    background-color: rgba(255, 255, 255, 0.048);
    max-width: 500px;
    min-width: 500px;
    padding: 32px;
}
.active-alarm-window .alarm-title-icon {
    font-size: 64px;
    color: #ffffff;
    margin-bottom: 16px;
}
.active-alarm-window .alarm-title {
    font-size: 24px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #ffffff;
    max-width: 500px;
    min-width: 500px;
}
.active-alarm-window .alarm-info {
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #b2b6c0;
    margin-bottom: 32px;
}
.active-alarm-window .button {
    border-radius: 4px;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 14px;
    min-height: 36px;
    min-width: 100px;
    margin: 0 4px;
    background-color: rgba(255, 255, 255, 0.1);
}
.active-alarm-window .button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
/***----------------------------------- • Volume • ---------------------------------------------***/
.volume-widget .icon {
	color: #74b0ff;
	margin:0px;
    font-size: 15px;
}
.volume-widget .label {
	color: #74b0ff;
	margin:0px;
    font-size: 14px;
}
.audio-menu {
    background-color:rgba(17, 17, 27, 0.4); 
    min-width: 300px;
}
/* System volume */
.audio-menu .system-volume-container .volume-slider {
    border: none;
}
/* Device list styles */
.audio-menu .audio-container .device {
    background-color:transparent;
    border: none;
    padding:0px;
    margin: 0px;
    font-size: 12px;
    border-radius: 4px;
}
.audio-menu .audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
   
}
.audio-menu .audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.06);
}
/* Toggle button for application volumes (if is enabled) */
.audio-menu .toggle-apps {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    min-height: 24px;
    min-width: 24px;
    border-radius: 4px;
}
.audio-menu .toggle-apps.expanded {
    background-color: rgba(255, 255, 255, 0.1);
}
.audio-menu .toggle-apps:hover {
    background-color: rgba(255, 255, 255, 0.15);
    
}
/* Container for application volumes (if is enabled) */
.audio-menu .apps-container {
    padding: 0px;
    margin-top:20px;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.062)
}
.audio-menu .apps-container .app-volume .app-icon-container {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 6px;
    margin-right: 8px;
}
.audio-menu .apps-container .app-volume .app-icon-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
/***----------------------------------- • System Widgets • ---------------------------------------------***/
.battery-widget .icon{
    color: #00d1ff;
    font-size: 17px;
} 
.battery-widget .label {
     color: #00d1ff;
     font-size: 14px;
}
.battery-widget .icon.status-charging {
    color: var(--cyan);
    text-shadow: var(--cyan);
}
/***----------------------------------- • Update Widget • ----------------------------------------------***/
.update-check-widget .widget-container.winget {
    background: var(--red);
    color: var(--base);
    margin: 5px 2px;
    padding: 0 8px;
}
.update-check-widget .widget-container.windows {
    background: var(--blue);
    color: var(--base);
    margin: 5px 2px;
    padding: 0 8px;
}

/***----------------------------------- • Power Menu Popup • -------------------------------------------***/
.power-menu-widget .label {
    color: #00d1ff;
    font-size: 20px;
}
.power-menu-popup {
    background-color: rgba(255, 255, 255, 0.04);
    padding: 32px;
}
.power-menu-popup .button {
    min-width: 150px;
    max-width: 140px;
    min-height: 70px;
    border-radius: 30px;
    background-color: #ffffff11;
    border: 8px solid rgba(255, 255, 255, 0)
}
.power-menu-popup .button:hover {
    border: 10px solid transparent;
}
.power-menu-popup .button .label {
    font-size: 13px;
    font-weight: 900;
    font-family: 'JetBrainsMono NFP';
    color: #a9a9ac;
}
.power-menu-popup .button .icon {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.4)
}
.power-menu-popup .button:hover .label,
.power-menu-popup .button:hover .icon {
    color: whitesmoke
}
.power-menu-popup .profile-info {
    padding: 10px;
    border-bottom: 8px solid cyan;
    background-color: transparent;
    margin-bottom: 10px;
}
.power-menu-popup .profile-info .profile-username {
    font-size: 24px;
    font-weight: 600;
    color: aqua;
    margin-top: 0;
    font-family: 'Segoe UI';
}
.power-menu-popup .profile-info .profile-account-type {
    font-size: 20px;
    color: #03e7e8;
    margin-top: 4px;
    font-family: 'Segoe UI'
}
.power-menu-overlay {
    background-color: rgba(0, 0, 0, 0.15);
}
.power-menu-overlay .uptime {
    font-size: 20px;
    margin-bottom: 20px;
    color: ghostwhite;
    font-weight: 600;
}

/***----------------------------------- • Wallpapers Gallery • -----------------------------------------***/
.wallpapers-widget {
    padding: 0 6px 0 6px;
}
.wallpapers-widget .icon,
.wallpapers-widget .label {
    color: var(--white);
}
.wallpapers-gallery-window {
    background-color: rgba(85, 42, 240, 0.01);
    border: 12px;
    margin: 16px
}
/* Dark style (optional) */
.dark.wallpapers-gallery-window {
    background-color: rgba(85, 42, 240, 0.05);
}
.wallpapers-gallery-buttons {
    background-color:rgba(255, 255, 255, 0);
    color: white;
    border: none;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 8px;
    margin:10px;
    width: 200px
}
.wallpapers-gallery-buttons:hover {
    background-color:rgba(255, 255, 255, 0.1)
}
.wallpapers-gallery-image {
    border: 4px solid transparent;
    border-radius: 20px;
}
.wallpapers-gallery-image:hover {
    border: 10px solid cyan;
}
.wallpapers-gallery-image.focused {
    border: 10px solid cyan;
}

/***----------------------------------- • Launchpad • ---------------------------------------------***/
.launchpad-widget {
    padding: 0 6px 0 6px;
}
.launchpad-widget .label {
    font-size: 42px;
    color: #89b4fa;
}
.launchpad .context-menu {
    background-color: var(--crust);
    border: cyan;
    border-radius: 6px;
    padding: 4px 0px;
    font-family: 'Segoe UI';
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 600
}
.launchpad .context-menu::item {
    background-color: var(--crust);
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: 4px;
    min-width: 100px;
}
.launchpad .context-menu::item:selected {
    background-color: var(--crust);
    color: ghostwhite;
}
.launchpad .context-menu::item:pressed {
    background-color: var(--crust);
}
.launchpad .context-menu::separator {
    height: 1px;
    background-color: cyan;
    margin: 4px 8px;
}
.launchpad .context-menu::item:disabled {
    color: var(--red);
    background-color: transparent;
}

/* Launchpad App dialog style */
.launchpad .app-dialog {
    font-family: 'Segoe UI';
    background-color: var(--crust);
}
.launchpad .app-dialog .buttons-container {
    background-color: cadetblue;
    margin-top: 16px;
    border-top: 1px solid transparent;
    max-height: 80px;
    min-height: 80px;
    padding: 0 20px 0 20px;
}
.launchpad .app-dialog .message {
    color: aqua;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0
}
.launchpad .app-dialog .title-field,
.launchpad .app-dialog .path-field,
.launchpad .app-dialog .icon-field,
.launchpad .app-dialog .group-field{
    background-color: var(--crust);
    border: 1px solid mediumturquoise;
    border-radius: 4px;
    padding: 0 6px;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    color: whitesmoke;
    margin: 10px 0px 5px 0;
    min-height: 30px;
}
.launchpad .app-dialog .title-field:focus,
.launchpad .app-dialog .path-field:focus,
.launchpad .app-dialog .icon-field:focus {
    border-bottom-color: cyan;
}
.launchpad .app-dialog .button {
    background-color: var(--red);
    border: crimson;
    border-radius: 4px;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    color: whitesmoke;
    min-width: 80px;
    padding: 0 6px;
    margin: 10px 0 5px 6px;
    min-height: 28px;
    outline: none;
}
.launchpad .app-dialog .buttons-container .button {
    margin: 10px 0 5px 0px;
    font-size: 13px;
}
.launchpad .app-dialog .button:focus {
    border: 2px solid #adadad;
}
.launchpad .app-dialog .button:focus,
.launchpad .app-dialog .button:hover {
    background-color: var(--red);
}
.launchpad .app-dialog .button:pressed {
    background-color: var(--rosewater);
}
.launchpad .app-dialog .button.add,
.launchpad .app-dialog .button.save {
    background-color: aqua;
    color: var(--crust);
}
.launchpad .app-dialog .button.add:focus,
.launchpad .app-dialog .button.save:focus,
.launchpad .app-dialog .button.add:hover,
.launchpad .app-dialog .button.save:hover {
    background-color: antiquewhite;
    color: var(--crust)
}
.launchpad .app-dialog .button.add:pressed,
.launchpad .app-dialog .button.save:pressed {
    background-color: aqua;
}
.launchpad .app-dialog .button.delete {
    background-color: crimson;
}
.launchpad .app-dialog .button.delete:focus,
.launchpad .app-dialog .button.delete:hover {
    background-color: var(--red);
}
.launchpad .app-dialog .button.delete:pressed {
    background-color: var(--red);
}
.launchpad .app-dialog .warning-message {
    background-color: var(--mauve);
    border: 1px solid #5a303c;
    border-radius: 4px;
    color: #cc9b9f;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    padding: 8px 12px;
    margin: 4px 0px;
}
/* Launchpad popup style */
.launchpad .drop-overlay {
    background-color: transparent;
    border:4px dashed aqua;
}
.launchpad .drop-overlay .text {
    color: aquamarine;
    font-family: 'Segoe UI';
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
}
.launchpad .launchpad-container {
    background-color: var(--crust);
}
.launchpad .search-container {
    border-bottom: 1px solid aquamarine;
    background-color: transparent;
    min-height: 80px;
    margin: 0;
    padding: 0
}
.launchpad .search-input {
    max-width: 400px;
    padding: 8px 12px;
    font-size: 14px;
    min-height: 24px;
    max-height: 24px;
    font-family: 'Segoe UI';
    border-radius: 20px;
    border: 2px solid cyan;
    background-color: crust;
    color: aqua;
}
.launchpad .search-input:focus  {
    border: 2px solid aqua;
    background-color: var(--crust);
}
.launchpad .launchpad-scroll-area {
    background-color: transparent;
    border: none;
}
.launchpad .app-icon {
    background-color: rgba(102, 10, 10, 0);
    border-radius: 12px;
    border: 2px solid rgba(112, 76, 32, 0);
    padding-top: 10px;
    margin: 24px 6px 6px 6px;
    max-width: 110px;
    min-width: 110px;
    min-height: 110px;
    max-height: 110px; 
}
.launchpad .app-icon:focus {
    border: 2px solid aqua;
    background-color: rgba(128, 130, 158, 0.15);
}
.launchpad .app-icon:hover {
    border: 2px solid aquamarine;
    background-color: rgba(128, 130, 158, 0.15);
}
.launchpad .app-icon .title {
    color: whitesmoke;
    font-family: 'JetBrainsMono NFP';
    font-size: 14px;
    margin-top: 2px;
    font-weight: 600
}
/* App icon .launchpad .app-icon or URL icon .launchpad .app-icon.url */
.launchpad .app-icon.url .title{
    color: #52f1d2;
}
.launchpad .app-icon .icon {
    padding: 0;
    margin: 0
}

/* Group icon styling */
.launchpad .group-icon {
    background-color: rgba(102, 10, 10, 0);
    border-radius: 12px;
    border: 2px solid rgba(112, 76, 32, 0);
    padding-top: 10px;
    margin: 24px 6px 6px 6px;
    max-width: 110px;
    min-width: 110px;
    min-height: 110px;
    max-height: 110px;
}
.launchpad .group-icon:focus {
    border: 2px solid #89b4fa;
    background-color: rgba(255, 255, 255, 0.06);
}
.launchpad .group-icon:hover {
    border: 2px solid #89b4fa;
    background-color: rgba(255, 255, 255, 0.13);
}
.launchpad .group-icon .group-icon-container {
    background-color: rgb(39, 40, 43);
    border: 1px solid rgb(47, 49, 53);
    border-radius: 8px;
}
.launchpad .group-icon .title {
    color: #a6adc8;
    font-family: 'Segoe UI';
    font-size: 14px;
    margin-top: 2px;
    font-weight: 600;
}

/* Per-group styling
   Each group gets a class based on its group name:
   - Lowercase conversion
   - Spaces replaced with hyphens
   Examples:
   - "Browsers" group → .browsers
   - "My Apps" group → .my-apps
   - "Work Tools" group → .work-tools
*/
.launchpad .group-icon .group-icon-container.browser {
    background-color: rgb(33, 47, 71);
    border-color: rgb(34, 57, 94);
}

/* Back button when inside a group */
.launchpad .group-back-button {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-family: "Segoe UI";
    font-weight: 400;
    text-align: left;
    padding: 0 32px;
}
.launchpad .group-back-button:hover {
    color: #ffffff;
}
/***----------------------------------- • Wifi • ---------------------------------------------***/
.wifi-menu {
    font-family: 'Segoe UI';
    background-color: rgba(17, 17, 27, 0.4);
    max-height: 350px;
    min-height: 375px;
    min-width: 375px;
}
.wifi-widget .label{
    color: #00b4d8;
}
.wifi-menu .progress-bar {
    max-height: 2px;
    color: var(--red);
}

.wifi-menu .header {
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
    background-color: rgba(17, 17, 27, 0.6);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.wifi-menu .error-message {
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
    background-color: red;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.wifi-menu .wifi-list {
    background-color: rgba(17, 17, 27, 0.8);
}

.wifi-menu .wifi-item {
    min-height: 35px;
    padding: 2px 12px;
}

.wifi-menu .wifi-item:hover {
    background-color: #1E1E2E;
    border-radius: 6px;
}

.wifi-menu .wifi-item[active=true] {
    background-color: #11111B;
    font-size: 14px;
    border-radius: 6px;
    min-height: 80px;
}

.wifi-menu .wifi-item .icon {
    font-family: 'Segoe Fluent Icons';
    color: whitesmoke;
    font-size: 26px;
    margin-right: 10px;
}

.wifi-menu .wifi-item .name {
    font-family: 'Segoe UI';
    font-size: 14px;
    margin-right: 10px;
}

.wifi-menu .wifi-item .password {
    font-family: 'Segoe UI';
    background-color: transparent;
    font-size: 14px;
}

.wifi-menu .wifi-item .status {
    font-family: 'Segoe UI';
    font-size: 14px;
}

.wifi-menu .wifi-item .strength {
    font-family: 'Segoe UI';
    font-size: 14px;
}

.wifi-menu .wifi-item .controls-container {
    padding-top: 8px;
}

.wifi-menu .wifi-item .connect {
    background-color: rgb(24, 24, 37);
    padding: 4px 30px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

.wifi-menu .wifi-item .connect:hover {
    background-color: rgb(24, 24, 37);
}

.wifi-menu .wifi-item .connect:pressed {
    background-color: rgb(24, 24, 37);
}

.wifi-menu .footer {
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    margin-top: 2px;
    color: turquoise;
    background-color: rgba(17, 17, 27, 0.6);
    border-top: 1px solid rgb(24, 24, 37);
}

.wifi-menu .footer .settings-button {
    font-family: 'Segoe UI';
    background-color: transparent;
    border: none;
    padding: 0 2px;
    min-width: 26px;
    min-height: 26px;
    color: whitesmoke;
}

.wifi-menu .footer .refresh-icon {
    font-family: 'Segoe Fluent Icons';
    background-color: transparent;
    border: none;
    min-width: 26px;
    min-height: 26px;
    color: whitesmoke;
}

.wifi-menu .footer .refresh-icon:hover {
    background-color: var(--crust);
    border-radius: 4px;
}
/***----------------------------------- • Open Metro • ---------------------------------------------***/
/* Weather card style */
.open-meteo-widget {
	padding: 0 6px;
}
.open-meteo-widget .icon {
	font-size: 18px;
	color: wheat;
}
.open-meteo-widget .label {
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight: 400;
	color: wheat;
	padding-left: 4px;
}
.open-meteo-card {
	background-color: var(--crust);
    min-width: 500px;
}
.open-meteo-card-today .label {
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight: 400;
	color: rgb(163, 163, 163);
}
.open-meteo-card-today .label.location {
	font-size: 32px;
	font-weight: 700;
	font-family: "Segoe UI";
	color: rgb(255, 255, 255);
}
.open-meteo-card-today .label.sunrisesunset {
	font-size: 18px;
	font-family: "Segoe UI";
	font-weight: 600;
	color: rgb(201, 204, 159);
}
.open-meteo-card-today .label.sunrisesunset-icon {
	font-size: 18px;
	color: rgb(201, 204, 159);
	font-family: "JetBrainsMono NFP";
}
.open-meteo-card-day {
	border: 1px solid cyan;
	border-radius: 8px;
	background-color: var(--crust);
	padding: 4px;
	min-width: 70px;
}
.open-meteo-card-day .day-name {
	font-family: "Segoe UI";
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
	font-weight: 600;
}
.open-meteo-card-day .day-temp-max {
	font-family: "Segoe UI";
	font-weight: 700;
	font-size: 16px;
	color: rgb(255, 255, 255);
}
.open-meteo-card-day .day-temp-min {
	font-family: "Segoe UI";
	color: rgb(255, 255, 255);
	font-weight: 400;
	font-size: 13px;
}
.open-meteo-card-day.active {
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.08);
}
.open-meteo-card-day:hover {
	background-color: rgba(255, 255, 255, 0.04);
}
.open-meteo-card .hourly-container {
	border: none;
	background-color: transparent;
	min-height: 120px;
}
.open-meteo-card .hourly-data {
	font-size: 11px;
	font-weight: 700;
	font-family: "Segoe UI";
}
.open-meteo-card .hourly-data.temperature {
	background-color: #c9be48;
}
.open-meteo-card .hourly-data.rain {
	background-color: #4a90e2;
}
.open-meteo-card .hourly-data.snow {
	background-color: #a0c4ff;
}
.open-meteo-card .hourly-data .hourly-rain-animation {
	color: rgba(150, 200, 255, 40);
	background-color: rgba(0, 0, 0, 0);
}
.open-meteo-card .hourly-data .hourly-snow-animation {
	color: rgba(255, 255, 255, 150);
	background-color: rgba(0, 0, 0, 0);
}
.open-meteo-card .hourly-data-buttons {
	margin-top: 11px;
	margin-left: 11px;
}
.open-meteo-card .hourly-data-button {
	border-radius: 4px;
	min-height: 24px;
	min-width: 24px;
	max-width: 24px;
	max-height: 24px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.3);
	border: 1px solid transparent;
}
.open-meteo-card .hourly-data-button.active {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.open-meteo-card .search-head {
	font-size: 18px;
	font-family: "Segoe UI";
	font-weight: 600;
	color: rgba(255, 255, 255, 0.9);
}
.open-meteo-card .search-description {
	font-size: 14px;
	font-family: "Segoe UI";
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	padding-bottom: 8px;
}
.open-meteo-card .no-data-icon {
	font-size: 88px;
}
.open-meteo-card .no-data-text {
	font-size: 16px;
	font-family: "Segoe UI";
	font-weight: 400;
}
/* search dialog */
.open-meteo-card .search-input {
	padding: 8px 12px;
	border: 1px solid #5e6070;
	border-radius: 6px;
	background-color: rgba(17, 17, 27, 0.1);
	color: #cdd6f4;
	font-family: "Segoe UI";
	font-size: 14px;
}
.open-meteo-card .search-input:focus {
	border: 1px solid #89b4fa;
	background-color: rgba(17, 17, 27, 0.2);
}
.open-meteo-card .search-results {
	border: 1px solid #45475a00;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0);
	color: #cbced8;
	font-size: 13px;
	font-family: "Segoe UI";
}
.open-meteo-card .search-results::item {
	padding: 6px;
}
.open-meteo-card .search-results::item:hover {
	background-color: rgba(255, 255, 255, 0.05);
}   
